<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBMasonry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8646FF31F62430F00F0DD80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E864700C1F62430F00F0DD80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E86470171F62430F00F0DD80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
